<% provide(:title, "Forgot password") %>


<div class="password_reset_form">
<h1>Enter your email to reset password</h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <p></p>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>