<div class="jumbotron center">
	<h1> Welcome to Company Insights </h1>
	<h2> The best place to know how companies promote their employees and everything related to that<h2>
	<p> <%= link_to "Sign up today", "signup_path", class: "btn btn-danger btn-lg" %></p>
</div>
