.companyLogoPic {
    width: 70px;
    height: 70px;
 
    margin: 0px auto;
}
.scompanyLogoPic img {
    width: 100%;

}

.search-text {
    background: asset-data-url("search.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 98%;
}