.section-heading {
	margin-top: 25px;
	padding-bottom: 0px;
}
.section-heading h1 {
	font-size: 22px;
	margin-top: 6px;
	font-weight: 700;
	margin-bottom: 0px;
	color: #7f7f7f;
}

.companyLogoPic {
    width: 70px;
    height: 70px;
 
    margin: 0px auto;
}
.scompanyLogoPic img {
    width: 100%;

}

.search-text {
    background: asset-data-url("search.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 98%;
}

.search-text1{width: 339px; padding-top: 4px; margin-right:9px;}                        