@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Montreal';
  src: url('Montreal-Light.eot');
  src: url('Montreal-Light.eot?#iefix') format('embedded-opentype'), url('Montreal-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
body {
  padding:0px;
  margin:0px;
  color:#000;
  font-size:15px;
  background:#fff !important;
  font-family: 'Montreal'!important;
}
html, body {
  height:100%;
  width:100%;
}
.clearfix {
  clear:both;
}
a {
  text-decoration:none;
}
img {
  width:100%;
}
h2 {
  font-size: 18px;
  color: #8c7e7e;
  font-weight: 700;
  margin: 4px 4px 16px;
}

.wrapper {
  min-height:100%;
  height:auto;
  margin:0px auto -50px;
}
.header1 {
  padding: 0px;
  height: auto;
  background: #313335;
  width: 100%;
  min-height: 44px;
  border-bottom: 1px solid #eee;
  position: fixed;
  z-index: 9999;
}
.logo_section {
  float: left;
  font-size: 25px;
  padding: 3px 17px 0px;
  margin-top: 3px;
  width: 16%;
}
.logo_section img {
  width:100%;
}
.logo_section a {
  color:#fff;
}
.logo_section a:active, a:hover {
  color:#fff;
  text-decoration:none;
}
.header {
  padding:0px;
  height:auto;
  width:100%;
  min-height:44px;
  position: fixed;
  z-index: 9999;
}
.headermenu {
  float:left;
  text-align:right;
  width:84%;
}
.menuIcon {
  float:right;
  width:4%;
  padding-top:1%;
  cursor:pointer;
  display:none;
}
.headermenulist {
  margin:11px 0px;
  padding:0px 0px 0px;
}
.headermenulist li {
  display:inline;
  float:none;
}
/*.headermenulist li{color:#ffc503;color:#fff;}*/
.headermenulist li.active {
  color: #fff;
  background: #09c6cc;
  padding: 17px 0px;
  border-radius:5px;
}
.headermenulist li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 16px;
  border-radius:5px;
  background: transparent;
}
.headermenulist li a:hover {
  text-decoration: none;
  color: #ffffff;
  /* background: #09c6cc; */
    border-radius: 0px;
  font-weight: 400;
  padding: 12px 16px;
  border-bottom: 3px solid white;
}
.subs li a:hover {
  background:none;
}
.scroll_header .headermenulist li a:hover {
  color: #ffffff;
}
.inner_page li a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif"";
  color: #fff;
}
.text-box {
  width:40% !important;
  float:left;
}
.text-box1 {
  width: 40% !important;
  float:left;
  margin-left: 15px;
}
.logout {
  margin-left: 49px;
}
.profile-name p {
  color: #fff;
  /* font-size: 14px; */
    margin: 0px;
  line-height: 18px;
}
.drop-down {
  position: absolute;
  top: 32px;
  right: 0px;
  cursor: pointer;
}
.content {
  padding-top:100px;
}
.companyContent {
  width:54%;
  margin:auto;
}
.nextColor {
  color:#4aa4ce;
}
.text {
  color: #343434;
  font-size: 4em;
  line-height: 57px;
}
.text1 {
  color: #343434;
  font-size: 3em;
}
.fillDetails {
  background-color:#f2f2f2;
  padding: 20px;
  margin: 29px 0px;
}
.filldetails1{
    margin: 0px 0px;
    background-color: #fff;

}
.text-box2{
  width:44% !important;
   background: asset-data-url("job-icon.png");
    background-repeat: no-repeat;
    background-position: 2%;
  
}
.text-box3{
  width:44% !important;
   background: asset-data-url("loc-icon.png");
    background-repeat: no-repeat;
    background-position: 2%;
  
}
.btn-search{
      float: right;
    padding: 6px 25px;
    border-radius: 4px;
    background:  #313335!important;
    color: #fff!important;
}
.btn-search:hover{
  
    background:  #313335!important;
    color: #fff!important;
 
}
.filldetails1 input[type="text"], input[type="password"], select {
  
  padding-left: 43px;

}
.form_element {
  width: 100%;
  float: left;
}
input[type="text"], input[type="password"], select {
  width: 100%;
  border: 1px solid #c8c8c8;
  outline: none;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
  color:#969696;
}
.btn-green {
  background:#48ce73;
  color: #fff;
}
.btn:hover, .btn:focus {
  color: #fff;
  background-color:#3eab61;
}
.welcometocompany {
  background-color:#fff;
  padding: 137px 0px 41px;
  font-family: 'Montreal';
  font-weight: 100;
  font-style: normal;
  text-align:center;
}
.googleAdds {
  background-color:#f1f1f1;
  padding-bottom: 0px;
}
.ads {
  font-family: "open sans" !important;
  width: 100%;
  min-height: 121px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  margin: auto;
  background-color:#fff;
  padding: 19px 23px;
  text-align:center;
  -webkit-box-shadow: 1px 2px 1px 1px #EDE6E6;
  box-shadow: 1px 2px 1px 1px #EDE6E6;
}


.push {
  min-height:50px;
  height:auto;
}
.blankspace {
  height:50px;
}
.footer {
  min-height: 50px;
  width: 100%;
  height: auto;
  background:#313335;
  padding: 13px 0px 6px;
}
 /* .footer_icon span {
    height: 30px;
    width: 34px;
    margin-right: 10px;
    /* padding: 5px 10px; 
    text-align: center;
    padding: 8px 12px;
    background-color: #eee;
    border-radius: 50%;

}
.footer_icon span:hover {
    height: 30px;
    width: 34px;
    margin-right: 10px;
    /* padding: 5px 10px; 
    text-align: center;
    padding: 8px 12px;
    background-color: #000;
    border-radius: 50%;

} */
.footer a {
  color:#000;
}
.container1 {
  width:85% !important;
  margin:0px auto !important;
  max-width:1260px;
  position:relative;
}
.footer_col {
  color:#fff;
}
.copyright {
  font-size:13px;
}
.footer_col {
    width: 20%;
    float: none;
    margin: auto;
    text-align: center;
}
/*nav css*/

#nav {
/*list-style: none outside none;
  margin: 0;
  padding: 0;*/
}
#nav ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#nav {
  /*  display: table;
  padding: 10px;*/
  position: relative;
}
#nav ul {
  border-radius: 0 5px 5px 5px;
  border-width: 0 1px 1px;
  left: -9999px;
  overflow: hidden;
  padding: 10px 0 10px;
  position: absolute;
  top: -9999px;
  text-align: left;
  padding: 3px;
  border: 1px solid #e2e2e2;
  background: #fbfbfb;
}
#nav li {
  position: relative;
}
#nav li a {
/*color: #999;
  display: block;
  font-size: 16px;
  padding: 7px 20px;
  text-decoration: none;*/
}
#nav li:hover > a {
}
#nav li:hover > a.hsubs {
  border-radius: 5px 5px 0 0;
 //color:#fff;
}
#subs li a {
  color:#fff !important;
}
#nav li:hover ul.subs {
  left: 0;
  top: 30px;
  width: 350px;
  color:#fff;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
}
#nav ul li {
  width: 100%;
  display: block;
  padding: 6px 5px;
}
#nav ul li a {
  color:#8c7e7e;
}
#nav ul li:hover > a {
  color:#333;
}
#nav ul li:hover {
  background:#eee;
}
/*nav css ends */
 .nav-tabs {
  border:none;
}
.nav-tabs1 {
  border-bottom: 1px solid #ddd;
}
.nav-tabs1>li {
  float: left !important;
  margin-bottom: -1px !important;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 55%;
}
.scroll_header {
  background:#fff;
  border-bottom:1px solid #eee;
}
.scroll_header .headermenulist li a {
  color:#2c2c2c;
}
.scroll_header .headermenulist li a:active {
  color:#fff;
}
.nav>li>a:hover, .nav>li>a:focus {
  background:none;
}
.header768 {
  display:none;
}
.header1024 {
  display:block;
}
.nopadding {
  padding:0px;
}
/* 2ndpage */

.infomation {
  padding-top:50px;
  background-color: #f1f1f1;
}
.company_info {
  width:100%;
  margin: 17px 0px;
}
.company_name {
  width:40%;
  float:left;
  margin-top: 7px;
}
.company_logo {
  width:123px;
  float:left;
}
.company_name a {
  color:#8c7e7e;
  font-size:20px;
  font-weight:700
}
.company_name a:hover {
  color:#8c7e7e;
}
.profile_level {
  min-height: 13px;
  margin-top: 12px;
  width:49%;
  float:left;
  text-align:left;
  color:#444;
}
.profile_level1 {
  min-height: 13px;
  margin-top: 12px;
  width:49%;
  float:right;
  text-align:left;
  color:#444;
}
.jobdesc {
  min-height:299px;
  margin-top: 12px;
  float:left;
  text-align:left;
  color:#444;
}
.orgChart {
  min-height:372px;
  margin-top: 12px;
}
.heading {
  font-weight:700;
  color:#464646;
  line-height: 18px;
  margin: 10px 0px;
}
.heading a {
  color:#464646;
}
.heading a:hover {
  color:#464646;
}
.heading-content {
  font-weight: 400;
  color: #5a5a5a;
  font-size: 14px;
}
.rightPadding {
  padding-right:0px;
}
.HowItWorks {
  margin:18px 0px;
}
.googleAdds1 {
  padding-bottom:0px;
}
.section_image {
  width:22%;
  float:left;
}
.section_image1 {
  width:50%;
  margin:auto;
  border-bottom: 1px solid #e6e6e6;
}
.section_text {
  width:75%;
  float:right;
}
.heading1 {
  text-align: left;
  font-size: 15px;
  margin: 7px 0px;
}
.heading-content1 {
  text-align:left;
  font-size:12px;
}
.ads1 {
  padding:11px;
  width:95%;
  margin:auto;
}
/* ----------------------------start org chart------------------------------------------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
}
.tree {
  margin-top: 50px;
}
.tree ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}
/*Remove space from the top of single children*/
.tree li:only-child {
  padding-top: 0;
}
/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.tree ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
.tree li a {
  border: 1px solid #ccc;
  padding: 10px 26px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.grand-child li {
  padding:20px 4px;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, .tree li a:hover+u {}

/* ----------------------------end-org chart---------------------------------------------------------------------------------------------------- */

.facebook {
    background-image: asset-data-url("fb_nonactive.png");
    height: 50px;
    width: 50px;
  float:left;
}
.twitter{
    background-image: asset-data-url("twitter_nonactive.png");
    height: 50px;
    width: 50px;
  float:left;
  margin-left: 6px
}
.youtube {
    background-image: asset-data-url("youtube_nonactive.png");
    height: 50px;
    width: 50px;
  float:left;
  margin-left: 6px
}
.linked-in {
    background-image: asset-data-url("linkedin_nonactive.png");
    height: 50px;
    width: 50px;
  float:left;
  margin-left: 6px
}
.facebook:hover{
    background-image: asset-data-url("fb_active.png");
}
.twitter:hover{
    background-image: asset-data-url("twitter_active.png");
}
.youtube:hover {
    background-image: asset-data-url("youtube_active.png");
}
.linked-in:hover {
    background-image: asset-data-url("linkedin_active.png");

}






/* media queries */
 @media (max-width:1680px) {
.nav {
 width:100%;
}
.googleAdds {
 background-color: #f1f1f1;
 padding-bottom: 33px;
}
}
@media (max-width:1366px) {
}
@media (max-width:1280px) {
.nav {
  width: 100% !important;
}
.footer_col {
    width: 28%;
    float: none;
    margin: auto;
    text-align: center;
}
}
@media (max-width:1024px) {
.headermenulist li {
  padding-right: 14px;
}
.companyContent {
  width: 73%;
  margin: auto;
}
.tree li a{
      padding: 10px 14px;
}
.logo_section {
  padding: 4px 0px 0px;
}
.welcometocompany {
  padding: 138px 0px 118px;
}
.nav {
  width: 100% !important;
}
.login_form{
  width:82%;
}
}
@media(max-width:980px) {
}
@media(max-width:768px) {
.header768 {
  display:block;
}
.header1024 {
  display:none;
}
.rightPadding{
  padding-left:0px;
}
.grand-child li {
    padding: 20px 16px;
}
.rightpadding1{padding-left:10px;}
.tree li a {
    padding: 17px 35px;
}
.nav>li>a:hover, .nav>li>a:focus {
  background:#eee;
}
.nav>li>a {
  padding: 10px 8px;
  font-size: 13px;
  font-weight: 500;
}
.menuIcon {
  float: right;
  width: 6%;
  padding-top:11px;
  cursor: pointer;
  display:block;
}
.companyContent {
  width: 85%;
  margin: auto;
}
.subs {
  display:none;
}
.header {
  width: 100%;
  border-bottom: 2px solid #3a3a3b;
  height:auto;
}
.headermenulist li {
  display: block;
  padding-right: 35px;
  padding:8px 5px;
  width:100%;
  text-align:left;
  border-bottom: 1px solid;
}
.headermenulist {
  padding:0px 0px 10px;
}
.headermenulist {
  float: left;
  margin: 0px;
  text-align:left;
  width: 100%;
  padding-left: 0px;
}
.headermenu {
  float: none;
  width: 100%;
  position: relative;
  top: 82%;
  display:none;
}
.logo_section {
  float: left;
  width: 21%;
  text-align:left;
  color: #fff;
  padding-top:2px;
  font-size:25px;
}
.headermenulist {
  margin: 0px 0px;
}
.container1 {
  width: 96% !important;
  margin: 0px auto !important;
}
.intro_section {
  padding: 70px 0px 66px;
}
.nav-tabs>li {
  float:none !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border-bottom: 1px solid #eee;
  border-top: none;
  border-left: 0px;
  border-right: 0px;
  background:#e8e8e8;
}
.footer_col {
  width: 31%;
  
}
.menuIcon .icon {
  width:auto;
}
.header {
  background:#fff;
}
.headermenulist li a {
  color:#333;
}
.logout {
  margin-left:0px;
}
#nav li a {
  color: #fff;
}
.headermenulist li a:hover {
  border-bottom:none;
}
.filldetails1 {
    padding: 10px 0px;
}
.text-box2{
  width:42% !important;
  
}
.text-box3{
  width:42% !important;
}
}
@media (max-width:736px) {
.googleAdds {
  padding-top: 25px;
}
.text-box3 {
    width: 40% !important;
}
.ads {
  margin-top:31px;
}
.footer_col {
    width: 34%;
}
.grand-child li {
    padding: 20px 9px;
}
.rightpadding1{
  padding-left:0px;
}
.section_image1{
  width:12%;
}
}
 @media (max-width:667px) {
.intro_section {
  padding: 47px 0px 47px;
}
.footer_col {
    width: 38%;
}
.text-box {
  width:100% !important;
  float:left;
}
.text-box1 {
  width: 100% !important;
  float:left;
  margin-left: 0px;
  margin-top: 14px;
}
.btn-green {
  background: #4aa4ce;
  color: #fff;
  margin-top: 21px;
  width: 100%;
}
 .loginbtn{
   background: url(../images/date-icon.png);
    background-repeat: no-repeat;
    background-position: 98%;
  height:45px;
  border-radius:2px;
  background-color:#2c2c2c; 
  margin-top:15px;
  width:100%;
  text-align:left;
 }
  .loginbtn:hover{
background-color:#2c2c2c; 
 }
.linkedinbtn{
  background: url(../images/date-icon.png);
    background-repeat: no-repeat;
    background-position: 98%;
  background-color:#0177b5;
  color:#fff;
}
.linkedinbtn:hover{
  background-color:#0177b5;
  color:#fff;
}
.logo_section {
  width: 25%;
}
.tree li a {
    padding: 13px 26px;
}
}
 @media (max-width:640px) {
}
 @media (max-width:600px) {
.logo_section {
  float: left;
  width: 29%;
  padding-top:5px;
}
.tree li a {
    padding: 13px 17px;
}
}
 @media (max-width:568px) {
.heading_bar {
  margin: 0px auto 10px;
  height: 4px;
}
.login-logo{
  width:36%;
}
.grand-child li {
    padding: 20px 3px;
}
.tree li a {
    padding: 13px 21px;
}
.login{
  width:85%;
}

.footer_col {
    width: 46%;
}
}
 @media (max-width:480px) {
.footer_col {
  width: 55%;
}
.login {
    width: 100%;
    margin: 17px auto 17px;
}
.signin{
  width: 100%;

}
.logo_section {
  width: 31%;
}
.intro_section {
  padding: 30px 0px 25px;
}
.orgChart{
      width: 100%;
    margin: 0px;
    padding: 0px;
}
.grand-child li {
    padding: 20px 1px;
}
.tree li a {
    padding: 13px 20px;
}
}
 @media (max-width:414px) {
.logo_section {
  width: 39%;
}
.tree li a {
    padding: 13px 9px;
}
}
@media (max-width: 384px) {
.logo_section {
  width: 47%;
}
.login-logo {
    width: 49%;
}
.footer_col {
    width: 76%;
}
.tree li a {
    padding: 6px 5px;
}

}
 @media (max-width:320px) {
   .tree li a {
    padding: 6px 0px;
}
}

.table{color:#000;
text-align: center;}


.action-btn {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background: #313335;
    margin: 0px 3px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.levels {
  padding-top: 60px;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}


