// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.password_reset_form {
    width: 50%;
    margin: 0px auto 60px;
    min-height: 450px;
    padding-top: 70px;
    color: #707070;
}
.password-reset {
    width: 67%;
    margin: 17px auto 17px;
    color: #707070;
}