


/* 2ndpage */

.infomation {
	padding-top:50px;
	background-color: #f1f1f1;
}
.company_info {
	width:100%;
	margin: 17px 0px;
}
.company_name {
	width:40%;
	float:left;
	margin-top: 7px;
}
.company_logo {
	width:123px;
	float:left;
}
.company_name a {
	color:#8c7e7e;
	font-size:20px;
	font-weight:700
}
.company_name a:hover {
	color:#8c7e7e;
}
.profile_level {
	min-height: 13px;
	margin-top: 12px;
	width:49%;
	float:left;
	text-align:left;
	color:#444;
}
.profile_level1 {
	min-height: 13px;
	margin-top: 12px;
	width:49%;
	float:right;
	text-align:left;
	color:#444;
}
.jobdesc {
	min-height:299px;
	margin-top: 12px;
	float:left;
	text-align:left;
	color:#444;
}
.orgChart {
	min-height:372px;
	margin-top: 12px;
}
.heading {
	font-weight:700;
	color:#464646;
	line-height: 18px;
	margin: 10px 0px;
}
.heading a {
	color:#464646;
}
.heading a:hover {
	color:#464646;
}
.heading-content {
	font-weight: 400;
	color: #5a5a5a;
	font-size: 14px;
}
.rightPadding {
	padding-right:0px;
}
.HowItWorks {
	margin:18px 0px;
}
.googleAdds1 {
	padding-bottom:0px;
}
.section_image {
	width:22%;
	float:left;
}
.section_image1 {
	width:50%;
	margin:auto;
	border-bottom: 1px solid #e6e6e6;
}
.section_text {
	width:75%;
	float:right;
}
.heading1 {
	text-align: left;
	font-size: 15px;
	margin: 7px 0px;
}
.heading-content1 {
	text-align:left;
	font-size:12px;
}
.ads1 {
	padding:11px;
	width:95%;
	margin:auto;
}

/* ----------------------------start org chart------------------------------------------------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
}
.tree {
	margin-top: 50px;
}
.tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.tree li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
/*Remove space from the top of single children*/
.tree li:only-child {
	padding-top: 0;
}
/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}
.tree li a {
	border: 1px solid #ccc;
	padding: 10px 26px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.grand-child li {
	padding:20px 4px;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, .tree li a:hover+u {}

/* ----------------------------end-org chart---------------------------------------------------------------------------------------------------- */

.listing{
	float:left;
	text-align:left;
	border-bottom: 1px solid #d4d4d4;
    width: 100%;
	padding: 17px 0px;
}

.pageing {
    text-align: right;
    padding: 0px 8px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #313335;
    border-color: #edf8f0;
}
.pagination > li > a, .pagination > li > span, .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    border-color: #edf8f0;
    color: #888;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #edf8f0;
}
