/* ----------------------------Start Updateprofile page------------------------------------- */

.update_profile {
	width:80%;
}
.update1 {
	width: 94%;
}
.upload_file {
	width: 22%;
}
.file_container {
	background-image: asset-data-url("user.png");
	
	background-repeat: no-repeat;
	background-position: 0%;
	padding: 15px;
	cursor: pointer;
	width: 229px;
	height: 207px;
	margin: 15px auto 0px;
}
.file_container input[type="file"] {
	opacity: 0;
	width: 100%;
	cursor: pointer;
	height: 100%;
}
.login1 {
    width: 95%;
    margin: 12px auto 17px;
}
.form_row1 {
	margin-bottom:20px;
}
.form_label {
	font-weight: 700;
	color: #6f6f6f;
	margin-bottom: 6px;
	text-align:left;
}
.label_info {
	font-size:14px;
	color: #a0a0a0;
}
.form_element {
	width: 100%;
	float: left;
}
.save {
	width: 50%;
	float: right;
}
.cancel a {
	color:#000;
}
/* ----------------------------end Updateprofile page------------------------------------- */